<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>ESV bible to leetspeak</title>
    <link rel="stylesheet" type="text/css" href="/static/esv.css">
    </head>
 
<body>
<div class="container">
    <div class="header">
        <nav>
            <ul class="nav nav-pills pull-right">
                <li role="presentation" class="active"><a href="/">Home</a>
                </li>
            </ul>
        </nav>
        <h3 class="text-muted">ESV to leetspeak</h3>
    </div>

    <div class="jumbotron">
        <div class="lead">
            <p>Enter a verse here and press the button</p>
            <form role="form" method='POST' action='/'>
            <input name="verse" id="verse"></input>
            <button type="submit">Submit</button>
            </form>
        </div>
        </p>
    </div>

    <div class="row marketing">
        {% if verse_text %}
        <div class="col-lg-6">
            <h4>Verse in plain text</h4>
            <p>
            {{ verse_text }}
            </p>
        </div>
        {% endif %}

        {% if verse_leet %}
        <div class="col-lg-6">
            <h4>Verse in leetspeak</h4>
            <p>
            {{ verse_leet }}
            </p>
        </div>
        {% endif %}
    </div>

    {% if verse_leet %}
    <div>
        <p>{{ error }}</p>
    </div>
    {% endif %}

    <footer class="footer">
        <p>
        Scripture taken from The Holy Bible, English Standard Version. Copyright &copy;2001 by <a href="http://www.crosswaybibles.org">Crossway Bibles</a>, a publishing ministry of Good News Publishers. Used by permission. All rights reserved. Text provided by the <a href="http://www.gnpcb.org/esv/share/services/">Crossway Bibles Web Service</a>.
        </p>
    </footer>

</div>
</body>
</html>
