<!DOCTYPE html>
<html lang="en">

<head>
    <title>ESV bible to leetspeak</title>
    <link rel="stylesheet" type="text/css" href="http://apps.hoyd.net/esvtoleet/static/style.css">
    </head>
<body>
<div class="container">
    <div class="header">
        <nav>
            <ul class="nav nav-pills pull-right">
                <li role="presentation" class="active"><a href="/esvtoleet">Home</a>
                <li role="presentation" class="active"><a href="/">More apps</a>
                <li role="presentation" class="active"><a href="http://moon.hoyd.net">Blog</a>
                </li>
            </ul>
        </nav>
        <h3 class="text-muted">ESV to leetspeak</h3>
    </div>

    <div class="jumbotron">
        <div class="lead">
            <p>Enter a verse or passage and press leet it</p>
            <form role="form" method="GET" action="">
            <input name="verse" id="verse"></input>
            <button type="submit">leet it</button>
            </form>
            <p></p><p style="font-size:70%"><i>ex: ecc3.11, john 3:16, Matthew 1:1, Ge1.1 or Matthew 22:43-23:1</i></p>
        </div>
    </div>

    <div class="row marketing">
        {% if verse_text %}
        <div class="col-lg-6">
            <h4>Verse in plain text</h4>
            <p>
            {{ verse_text }}
            </p>
        </div>
        {% endif %}

        {% if verse_leet %}
        <div class="col-lg-6">
            <h4>Verse in leetspeak</h4>
            <p>
            {{ verse_leet }}
            </p>
        </div>
        {% endif %}
    </div>

    {% if verse_leet %}
    <div>
        <p>{{ error }}</p>
    </div>
    {% endif %}

    <footer class="footer">
        <p>
        Scripture taken from The Holy Bible, English Standard Version. Copyright &copy; 2001 by <a href="http://www.crosswaybibles.org">Crossway Bibles</a>, a publishing ministry of Good News Publishers. Used by permission. All rights reserved. Text provided by the <a href="http://www.gnpcb.org/esv/share/services/">Crossway Bibles Web Service</a>. Source code for this webapp can be found on <a href="https://github.com/orjanv/ESVtoLeetFlaskApp">GitHub</a>.
        </p>
    </footer>

</div>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-45595881-7', 'auto');
  ga('send', 'pageview');

</script>

</body>
</html>
